.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Env files
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/
.idea/

# Amplify generated
amplify/.config/local-*
amplify/backend/.temp/
amplify/#current-cloud-backend/
amplify/team-provider-info.json

